# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
bin
eesupp
exe
jobs
lsopt
model
optim
pkg/admtlm
pkg/aim_compon_interf
pkg/aim_v23
pkg/atm2d
pkg/atm_common
pkg/atm_ocn_coupler
pkg/autodiff
pkg/bbl
pkg/bulk_force
pkg/cal
pkg/cd_code
pkg/cfc
pkg/cheapaml
pkg/chronos
pkg/compon_communic
pkg/cost
pkg/ctrl
pkg/debug
pkg/diagnostics
pkg/dic
pkg/down_slope
pkg/ebm
pkg/ecco
pkg/embed_files
pkg/exch2
pkg/exf
pkg/fizhi
pkg/flt
pkg/frazil
pkg/gchem
pkg/generic_advdiff
pkg/ggl90
pkg/gmredi
pkg/grdchk
pkg/gridalt
pkg/icefront
pkg/kpp
pkg/land
pkg/layers
pkg/longstep
pkg/matrix
pkg/mdsio
pkg/mnc
pkg/mom_common
pkg/mom_fluxform
pkg/mom_vecinv
pkg/monitor
pkg/my82
pkg/mypackage
pkg/obcs
pkg/ocn_compon_interf
pkg/offline
pkg/opps
pkg/pkg_default
pkg/pkg_depend
pkg/pkg_groups
pkg/pp81
pkg/profiles
pkg/ptracers
pkg/rbcs
pkg/regrid
pkg/runclock
pkg/rw
pkg/salt_plume
pkg/sbo
pkg/seaice
pkg/shap_filt
pkg/shelfice
pkg/showflops
pkg/smooth
pkg/sphere
pkg/thsice
pkg/timeave
pkg/zonal_filt
tools
utils
verification/*/build/*
verification/*/run/*

verification/tr_*

pkg/gud/GUD_GENPARAMS.h
pkg/gud/gud_readgenparams.F
pkg/gud/GUD_TRAITPARAMS.h
pkg/gud/gud_readtraitparams.F
pkg/gud/GUD_TRAITS.h
pkg/gud/gud_init_traits.F
pkg/gud/gud_readtraits.F
